@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
	font-family: Montserrat;
	font-weight: 200;
	background-color: #0b0c10;
	color: #c5c6c7;

	font-synthesis: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background: #dcdcdc;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #404040;
}
